In [2]:
import pandas as pd
import numpy as np

# Remake

In [5]:
# subindo Extração_Macro_Si2c_df
Extração_Macro_Si2c_df = pd.read_excel(r'C:\Users\lb04610\OneDrive - Alliance\Área de Trabalho\CHECK SALDO EM D-1\Extração Macro Si2c.xls')

# excluindo do data frame a primeira linha
Extração_Macro_Si2c_df.columns = Extração_Macro_Si2c_df.loc[0]
Extração_Macro_Si2c_df = Extração_Macro_Si2c_df.loc[1:]

# alterando tipo de dados
Extração_Macro_Si2c_df['num BL'] = Extração_Macro_Si2c_df['num BL'].astype(str)
Extração_Macro_Si2c_df['Référence'] = Extração_Macro_Si2c_df['Référence'].astype(str)

# criando coluna REFERENCIA&NOTA para o merge
Extração_Macro_Si2c_df['REFERENCIA&NOTA'] = Extração_Macro_Si2c_df['Référence'] + Extração_Macro_Si2c_df['num BL']

In [6]:
# subindo Extração_SAP_MOvibaan_df
Extração_SAP_MOvibaan_df = pd.read_excel(r'C:\Users\lb04610\OneDrive - Alliance\Área de Trabalho\CHECK SALDO EM D-1\Extração SAP MOvibaan.xls')

# filtando a coluna 'ZQUANT_BAAN' só com maiores que zero
Extração_SAP_MOvibaan_df = Extração_SAP_MOvibaan_df[Extração_SAP_MOvibaan_df['ZQUANT_BAAN'] >= 0.0] 

# alterando tipo de dados
Extração_SAP_MOvibaan_df['ZMATNR_BAAN'] = Extração_SAP_MOvibaan_df['ZMATNR_BAAN'].astype(str)
Extração_SAP_MOvibaan_df['ZNF_BAAN'] = Extração_SAP_MOvibaan_df['ZNF_BAAN'].astype(str)

# criando coluna REFERENCIA&NOTA
Extração_SAP_MOvibaan_df['REFERENCIA&NOTA'] = Extração_SAP_MOvibaan_df['ZMATNR_BAAN'] + Extração_SAP_MOvibaan_df['ZNF_BAAN']

In [7]:
# concatenando os df
Concat_1_df = Extração_SAP_MOvibaan_df.merge(Extração_Macro_Si2c_df, on='REFERENCIA&NOTA', how = 'left')

In [8]:
Concat_1_df['quantité BL'] = Concat_1_df['quantité BL'].astype(np.float64)

In [10]:
Concat_1_df['Dif ZQUANT_BAAN quantité BL'] = Concat_1_df['ZQUANT_BAAN'] - Concat_1_df['quantité BL']
Concat_1_df

,MANDT,ERDAT,ERZEIT,ZDEPOS_BAAN,ZMATNR_BAAN,ZSEQ_BAAN,ZCNTNR_BAAN,ZTPMOV_BAAN,ZQUANT_BAAN,ZRAZAO_BAAN,...,libellé,num BL,CF D.,Arrivage,Référence,Ligne,quantité BL,CF D.,Nb UM,Dif ZQUANT_BAAN quantité BL
0,50,2022-06-21,00:00:00,300,100012230R,1.0,2250311.0,2,72.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,50,2022-06-21,00:00:00,300,100018495R,2.0,2250311.0,2,8.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,50,2022-06-21,00:00:00,300,117103885R,1.0,2250384.0,P,528.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,50,2022-06-21,00:00:00,300,117103885R,1.0,2250385.0,P,528.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,50,2022-06-21,00:00:00,300,172026707R,1.0,2250349.0,P,56.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
425,50,2022-06-21,00:00:00,CRA,995501893R,1.0,2250196.0,P,280.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
426,50,2022-06-21,00:00:00,CRA,995501893R,1.0,2250197.0,P,280.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
427,50,2022-06-21,00:00:01,300,237370092R,NaN,NaN,2,3000.0,DFO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
428,50,2022-06-21,00:00:01,800,251936215R,NaN,NaN,2,189.0,DFO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429,50,2022-06-21,00:00:02,800,251936215R,NaN,NaN,2,91.0,DFO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Rascunho solução de lista

In [23]:
# subindo Extração_Macro_Si2c_df
Extração_Macro_Si2c_df = pd.read_excel(r'C:\Users\lb04610\OneDrive - Alliance\Área de Trabalho\CHECK SALDO EM D-1\Extração Macro Si2c.xls', converters={'Référence':str ,'quantité BL':int}, sheet_name=0)

# excluindo do data frame a primeira linha
Extração_Macro_Si2c_df.columns = Extração_Macro_Si2c_df.loc[0]
Extração_Macro_Si2c_df = Extração_Macro_Si2c_df.loc[1:]

Qntde_Si2c = Extração_Macro_Si2c_df['quantité BL'].to_list()
itens_Si2c = Extração_Macro_Si2c_df['Référence'].to_list()

In [26]:
# subindo Extração_SAP_MOvibaan_df
Extração_SAP_MOvibaan_df = pd.read_excel(r'C:\Users\lb04610\OneDrive - Alliance\Área de Trabalho\CHECK SALDO EM D-1\Extração SAP MOvibaan.xls', converters={'ZMATNR_BAAN':str,'ZQUANT_BAAN':float}, sheet_name=0)


Qntde_SAP = Extração_SAP_MOvibaan_df['ZQUANT_BAAN'].to_list()
itens_SAP = Extração_SAP_MOvibaan_df['ZMATNR_BAAN'].to_list()

In [27]:
len(Qntde_Si2c) 
len(Qntde_SAP)

573

In [28]:
result = list()
for i in range (0, len(Qntde_Si2c)):
    a=itens_SAP[i]
    b= itens_SAP.index(a)
    d = len(a)
    e = a[d-10:d]
    try:
        c=itens_SAP.index(e)
        result.append({'item':e,'result':int(Qntde_SAP[b]) - Qntde_Si2c[c]})
    except:
        result.append({'item':e,'result':'Item não encontrado'})
    #print(e)    
# print(result)

In [70]:
result_df = pd.DataFrame(result)
result_df

           item  result
0    625126573R    -440
1    625126573R    -440
2    625137427R   -1160
3    625187518R   -2120
4    631006077R   -1032
..          ...     ...
425  240106KL1B      37
426  240106KL1C       4
427  240106KL2A     -31
428  240106KL4B     -48
429  240116KL0C      64

[430 rows x 2 columns]

# Rascunho geral

In [103]:
# subindo Extração_Macro_Si2c_df
Extração_Macro_Si2c_df = pd.read_excel(r'C:\Users\lb04610\OneDrive - Alliance\Área de Trabalho\CHECK SALDO EM D-1\Extração Macro Si2c.xls', converters={'quantité BL':int}, sheet_name=0)

# excluindo do data frame a primeira linha
Extração_Macro_Si2c_df.columns = Extração_Macro_Si2c_df.loc[0]
Extração_Macro_Si2c_df = Extração_Macro_Si2c_df.loc[1:]

# alterando tipo de dados
Extração_Macro_Si2c_df['num BL'] = Extração_Macro_Si2c_df['num BL'].astype(str)
Extração_Macro_Si2c_df['Référence'] = Extração_Macro_Si2c_df['Référence'].astype(str)
# Extração_Macro_Si2c_df['quantité BL'] = Extração_Macro_Si2c_df['quantité BL'].astype(str).astype(int)
Extração_Macro_Si2c_df['quantité BL'] = Extração_Macro_Si2c_df['quantité BL'].astype(np.int64)

# criando coluna REFERENCIA&NOTA
Extração_Macro_Si2c_df['REFERENCIA&NOTA'] = Extração_Macro_Si2c_df['Référence'] + Extração_Macro_Si2c_df['num BL']
# Extração_Macro_Si2c_df = Extração_Macro_Si2c_df[['quantité BL']]

In [102]:
# subindo Extração_SAP_MOvibaan_df
Extração_SAP_MOvibaan_df = pd.read_excel(r'C:\Users\lb04610\OneDrive - Alliance\Área de Trabalho\CHECK SALDO EM D-1\Extração SAP MOvibaan.xls')

# filtando a coluna 'ZQUANT_BAAN' só com maiores que zero
Extração_SAP_MOvibaan_df = Extração_SAP_MOvibaan_df[Extração_SAP_MOvibaan_df['ZQUANT_BAAN'] >= 0.0] 

# alterando tipo de dados
Extração_SAP_MOvibaan_df['ZQUANT_BAAN'] = Extração_SAP_MOvibaan_df['ZQUANT_BAAN'].astype(int)
Extração_SAP_MOvibaan_df['ZMATNR_BAAN'] = Extração_SAP_MOvibaan_df['ZMATNR_BAAN'].astype(str)
Extração_SAP_MOvibaan_df['ZNF_BAAN'] = Extração_SAP_MOvibaan_df['ZNF_BAAN'].astype(str)

# criando coluna REFERENCIA&NOTA
Extração_SAP_MOvibaan_df['REFERENCIA&NOTA'] = Extração_SAP_MOvibaan_df['ZMATNR_BAAN'] + Extração_SAP_MOvibaan_df['ZNF_BAAN']

# concatenando os df
Concat_1_df = Extração_SAP_MOvibaan_df.merge(Extração_Macro_Si2c_df, on='REFERENCIA&NOTA', how = 'left')

# criando coluna Dif ZQUANT_BAAN quantité BL
subtra = Extração_SAP_MOvibaan_df['ZQUANT_BAAN'] - Extração_Macro_Si2c_df['quantité BL']
# Concat_1_df = Concat_1_df[['ZQUANT_BAAN']]

In [98]:
# concatenando os df
Concat_1_df = Extração_Macro_Si2c_df.merge(Extração_SAP_MOvibaan_df, on='REFERENCIA&NOTA', how = 'left')
Concat_1_df = Concat_1_df[['ZQUANT_BAAN']]

# Concat_1_df['ZQUANT_BAAN'] = Concat_1_df['ZQUANT_BAAN'].astype(int)
#Concat_1_df['Dif ZQUANT_BAAN quantité BL'] = Concat_1_df['ZQUANT_BAAN'] - Concat_1_df['quantité BL']
# Concat_1_df['Dif ZQUANT_BAAN quantité BL']

In [99]:
# teste = Extração_Macro_Si2c_df.drop(['quantité BL']).subtract(Extração_SAP_MOvibaan_df.drop(['ZQUANT_BAAN']), axis=1)
# teste